* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif
}

section {
          display: flex;
          height: 600px;
}

h1 {
          font-size: 50px;
}


p {
          font-size: 20px;
          text-align: justify;

}

.header {

          background-image: url(images/shapes/Frame\ 59.jpg);
          background-repeat: no-repeat;
          height: 30%;
}

.about {
          background-image: url(images/shapes/Frame\ 58.jpg);
          background-repeat: no-repeat;
          height: 30%;
}



.half-width {
          width: 50%;
          margin-left: 50px;
          border-radius: 2px;
          padding: 40px;

}

.half-widthy {
          width: 50%;
          margin-left: 50px;
          height: 100px;

}

.half-width img {
          width: 100%;
          height: 100%;
}

.half-width a {
          text-decoration: none;
          background-image: linear-gradient(to right, orange, rgb(255, 89, 0));

          border-radius: 3em;
          padding: 15px 35px;
          text-align: center;
          font-size: 15px;
          color: wheat;
          border: 2px solid;
          box-sizing: border-box;


}



/* Recipie part*/
.image {
          width: 100%;

          height: 900px;
          background-image: url(images/shapes/Frame\ 57.jpg);
          background-repeat: no-repeat;
          display: flex;
}

.half-width1 {
          width: 30%;
          margin: 10%;
          border-radius: 2px;
          padding: 20px 25px;

          height: 600px;
          margin-top: 30px;
          box-shadow: 5px -5px 5px 5px;
          text-align: center;

}



.ic {
          width: 100%;
          height: 300px;
          border-radius: 12px;
}

.recipie-dec {
          text-align: center;
          margin: 20px 400px;
}


.y {
          background-color: gainsboro;
          height: 150px;

}

/*Fotter*/
.fotter {
          background-color: rgb(29, 28, 33);
          color: gray;
          height: 140px;
          text-align: center;
}

.fotter-s {

          color: white;
          margin-left: 40%;
          margin-right: 40%;
}